
<h4>Matches</h4>
<table class="table table-hover">

    <thead>
    <tr>
        <th>S.no</th>
        <th>Team One</th>
        <th>Club State</th>
        <th></th>
       
        <th>Team Two</th>
        <th>Club State</th>
       
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matches;let in =index">
            <td>{{in+1}}</td>
            <td>{{match.team_one.name}}</td>
            <td>{{match.team_one.club_state}}</td>
            <td style="color: blue;"> Vs</td>
            <td>{{match.team_two.name}}</td>
            <td>{{match.team_two.club_state}}</td>
        </tr>
    </tbody>
</table>
