<h4>Players</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Jersey Number
            </th>
            <th>
                Matches
            </th>
            <th>
                Runs
            </th>

            <th>
                Highest Score
            </th>
            <th>
                Fifties
            </th>
            <th>
                Hundreds
            </th>
            <th>Country</th>



        </tr>
    </thead>
        <tbody>
    <tr *ngFor="let player of players">
        <td><img width="100" src="{{player.image}}" /></td>
        <td>{{player.first_name}}</td>
        <td>{{player.last_name}}</td>
        <td>{{player.player_jersey_number}}</td>
        <td>{{player.player_history.matches}}</td>
        <td>{{player.player_history.runs}}</td>
        <td>{{player.player_history.highest_score}}</td>
        <td>{{player.player_history.fifties}}</td>
        <td>{{player.player_history.hundreds}}</td>

        <td>{{player.country}}</td>


    </tr>
    </tbody>
</table>