<h4>Create Team</h4>
<form #CreateTeamForm="ngForm" class="was-validated">
    <div class="form-group">
      <label for="teamname">Team Name:</label>
      <input type="text" class="form-control" id="teamname" placeholder="Enter Team name" #team_name="ngModel"  [(ngModel)]="team.team_name" name="team_name" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
            <label for="club">Club State:</label>
            <input type="text" class="form-control" id="club"  #club_state="ngModel"  [(ngModel)]="team.club_state" placeholder="Enter Club State" name="club_state" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>
          <div class="form-group">
                <!-- <label for="logo">Logo:</label> -->
                <input type="file"  id="logo" name="fileInput"  (change)="onFileChanged($event)"
  #fileInput required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
   
    <!-- <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
      </label>
    </div> -->
    <button type="submit" (click)="createTeam(CreateTeamForm)" class="btn btn-primary">Submit</button>
  </form>