
<div  class="container">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="teams">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="player/list">Players</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/matches">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/points">Points</a>
              </li>
        </ul>
      </nav>
     
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>


    
        
    
