<div *ngIf="isTeam">
    
    <button style="margin:20px" (click)='applyFixtures()' class="btn btn-primary">Apply Fixtures</button>

    <h4>Teams</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Team name</th>
                <th>Club State</th>
                <th>Logo</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of teams;let in=index">
                <td>{{in+1}}</td>
                <td><a [routerLink]="['/player/', team.slug]">{{team.name}}</a></td>
                <td>{{team.club_state}}</td>
                <td>
                    <img width="100px" src="{{baseURL}}{{team.logoURI }}" /></td>
                <td><a class="btn btn-secondary" [routerLink]="['/teams/',team.slug]">Matches</a></td>

            </tr>

        </tbody>
    </table>
</div>
<div *ngIf="isFixtures">
    <h4>Matches Between the Teams</h4>
    <p>Randomly selected the teams and also winner team</p>
    <table class="table table-hover">
        <thead>
            <tr>

                <th>Team name</th>
                <th>Club State</th>
                <th>Logo</th>
<th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Team One</td>
                <td><a [routerLink]="['/player/', teams.team_one.slug]">{{teams.team_one.name}}</a></td>
                <td>{{teams.team_one.club_state}}</td>
                <td>
                    <img width="100px" src="{{baseURL}}{{teams.team_one.logoURI}}" /></td>

            </tr>
            <tr>
                <td>Team Two</td>
                <td><a [routerLink]="['/player/', teams.team_two.slug]">{{teams.team_two.name}}</a></td>
                <td>{{teams.team_two.club_state}}</td>
                <td>
                    <img width="100px" src="{{baseURL}}{{teams.team_two.logoURI}}" /></td>


            </tr>

        </tbody>
    </table>

    <button class="btn btn-primary" (click)="getWinnerTeam()"> click to get Winner Team</button>
    <div *ngIf='isShow'>
        <h4>Winner of Match</h4>
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>Team name</th>
                    <th>Club State</th>
                    <th>Logo</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Winner</td>
                    <td><a [routerLink]="['/player/', teams.winner_of_match.slug]">{{teams.winner_of_match.name}}</a>
                    </td>
                    <td>{{teams.winner_of_match.club_state}}</td>
                    <td>
                        <img width="100px" src="{{baseURL}}{{teams.winner_of_match.logoURI}}" /></td>
                    <td><a [routerLink]="['/points/',teams.winner_of_match.slug]">View points</a></td>

                </tr>

            </tbody>
        </table>
    </div>


</div>