

<h4>Points Table</h4>
<table class="table table-hover"> 
        <thead>
                <tr>
                    <th>S.No</th>
                  <th>Team Name</th>
                  <th>Matches</th>
                  <th>Lost</th>
                  <th>Won</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
    <tr *ngFor="let point of points;let in = index">
        <td>{{in+1}}</td>
        <td>{{point.team.name}}</td>
        <td>{{point.matches}}</td>
        <td>{{point.lost}}</td>
        <td>{{point.won}}</td>
        <td>{{point.points}}</td>
    </tr>
    </tbody>
</table>
